.heading{
    width:100%;
    text-align: left;
}
.heading h3{
display: inline;
}
.heading button{
float: right;
border: 10px yellow;
}
.big_image{
    width: 40%;
}
#play,#status{
    font-size: 25px;
}

